{:source-paths ["src" "test/cljs" "examples"]

 :dev-http     {8000 "public"}

 :builds
 {:test
  {:target     :esm
   :output-dir "target/test"
   :modules    {:hsx-test {:exports {:Button             hsx.components/Button
                                     :ButtonViaReactElem hsx.components/ButtonViaReactElem
                                     :FragmentedButton   hsx.components/FragmentedButton
                                     :SeqButton          hsx.components/SeqButton
                                     :CallableButton     hsx.components/CallableButton
                                     :CallableButtonList hsx.components/CallableButtonList
                                     :ShorthandTags      hsx.components/ShorthandTags
                                     :EmptyVectorChild   hsx.components/EmptyVectorChild
                                     :NestedVectorChild  hsx.components/NestedVectorChild
                                     :KeyedFragmentList  hsx.components/KeyedFragmentList}}}}
  :examples
  {:target     :browser
   :output-dir "public/js"
   :modules    {:main {:entries [hsx.app]}}}}}
